<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rate Calculator</title>
</head>
<body>
  <h1>Rate Calculator</h1>
  <form action="./calc" method="post">
  <label>Please enter the weight of the parcel:</label>
  <input name="weight" type="number" step="0.1"> oz.
  <label for="mailType"></label>
  <select name="mailType">
    <option value=0>Letters (Stamped)</option>
    <option value=1>Letters (Metered)</option>
    <option value=2>Large Envelopes (Flats)</option>
    <option value=3>First-Class Package Service—Retail</option>
  </select>
  <input type="submit" value="Calculate">
  </form> 
</body>
</html>
